@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --golden: #c5a777;
}

html {
  scroll-behavior: smooth;
}

.font-playfair {
  font-family: var(--font-playfair);
}

.text-golden {
  color: var(--golden);
}

.bg-golden {
  background-color: var(--golden);
}

